In [1]:
import pandas as pd
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    user = "alv_mar",
    password = "16_alv_mar_93",
    host = "82.165.173.34",
    port = "3134"
)

TypeError: 'module' object is not callable