In [1]:
import pandas as pd
import mysql.connector

In [4]:
conn = mysql.connector.connect(
    user = "alv_mar",
    password = "16_alv_mar_93",
    host = "82.165.173.34",
    port = "3134"
)

ConnectionTimeoutError: 2003: Can't connect to MySQL server on '82.165.173.34:3134' (Errno 110: Connection timed out)