### Conectarse a la BD

In [3]:
import pandas as pd
import mysql.connector


conn = mysql.connector.connect(
    user="alv_mar",
    password="16_alv_mar_93",
    host="82.165.173.36",
    port="31234"
)


c = conn.cursor()

In [4]:
c.execute("USE bd_alv_mar_graf1")

### Crear las tablas e insertar datos

In [6]:
c.execute('''
CREATE TABLE IF NOT EXISTS productor (
    id INT PRIMARY KEY,
    nombre TEXT
);
''')

c.execute('''
CREATE TABLE IF NOT EXISTS equipo (
    id INT PRIMARY KEY,
    nombre TEXT
);
''')

c.execute('''
CREATE TABLE IF NOT EXISTS proyecto (
    id INT PRIMARY KEY,
    nombre TEXT
);
''')

c.execute('''
CREATE TABLE IF NOT EXISTS alquiler (
    id INT PRIMARY KEY,
    productor_id INT,
    equipo_id INT,
    proyecto_id INT,
    FOREIGN KEY (proyecto_id) REFERENCES proyecto (id),
    FOREIGN KEY (productor_id) REFERENCES productor (id),
    FOREIGN KEY (equipo_id) REFERENCES equipo (id)
);
''')

# Insertar datos en productor
c.execute('''
INSERT INTO productor (id, nombre) VALUES
(101, 'Productor A'),
(102, 'Productor B'),
(103, 'Productor C'),
(104, 'Productor D'),
(105, 'Productor E'),
(106, 'Productor F'),
(107, 'Productor G'),
(108, 'Productor H'),
(109, 'Productor I'),
(110, 'Productor J');
''')

# Insertar datos en equipo
c.execute('''
INSERT INTO equipo (id, nombre) VALUES
(201, 'CÃ¡mara Sony'),
(202, 'MicrÃ³fono Rode'),
(203, 'IluminaciÃ³n LED'),
(204, 'Dron DJI'),
(205, 'Estabilizador Gimbal'),
(206, 'TrÃ­pode Manfrotto'),
(207, 'Lente Canon'),
(208, 'Monitor de producciÃ³n'),
(209, 'Grabador Zoom'),
(210, 'Softbox Neewer');
''')

# Insertar datos en proyecto
c.execute('''
INSERT INTO proyecto (id, nombre) VALUES
(301, 'Documental A'),
(302, 'PelÃ­cula B'),
(303, 'Corto C'),
(304, 'Serie D'),
(305, 'Comercial E'),
(306, 'Videoclip F'),
(307, 'Entrevista G'),
(308, 'Conferencia H'),
(309, 'Taller I'),
(310, 'Evento J');
''')

# Insertar datos en alquiler, asegurando la correspondencia con productor, equipo y proyecto
c.execute('''
INSERT INTO alquiler (id, productor_id, equipo_id, proyecto_id) VALUES
(1, 101, 201, 301),
(2, 102, 202, 302),
(3, 103, 203, 303),
(4, 104, 204, 304),
(5, 105, 205, 305),
(6, 106, 206, 306),
(7, 107, 207, 307),
(8, 108, 208, 308),
(9, 109, 209, 309),
(10, 110, 210, 310);
''')
conn.commit()

IntegrityError: 1062 (23000): Duplicate entry '101' for key 'productor.PRIMARY'

In [7]:



# Cierra la conexiÃ³n con la base de datos
conn.close()